<app-header></app-header>
<div id="masthead">  
    <div class="container" >
      <div class="row">
        <div >
        <br><br> <h1 style="font-family: 'Courier New', Courier, monospace; color: white; font-size: 80px;">AUTHORS</h1><br><br>
        </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  
  <hr id="hh1"><br><br>
  <div style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> 
          <form class="signup" (ngSubmit)="Adddata()" method="POST" style="border:1px solid #ccc" enctype="multipart/form-data">
              <div class="container2">
                <h1>ADD AUTHOR</h1>
                <hr>
                <label for="text"><b>author name :</b></label>
                <input type="text" placeholder="Enter title" name="author" [(ngModel)]="Item.name" required><br><br>
                <label for="text"><b>born :</b></label>
                <input type="born" placeholder="Enter year" name="born" [(ngModel)]="Item.born" required><br><br>
                <label for="text"><b>genre :</b></label>
                <input type="text" placeholder="Enter genre" name="genre" [(ngModel)]="Item.genre" required><br><br>
                <label for="text"><b>more :</b></label>
                <input type="text" name="more" [(ngModel)]="Item.more" required><br><br>
                <label for="text"><b>add image :</b></label>
                <input type="file" name="img1" id="input1" [(ngModel)]="Item.img" onchange="showFile()" accept="image/*"><br>
                <div class="clearfix">
                  <button type="submit" id="submit" class="signupbtn button1">Done</button>
                </div>
              </div>
            </form> 
         </div><!--/col-12-->
    </div>
  </div>
                                                  
  </div>      