
      <header class="navbar navbar-bright navbar-fixed-top" role="banner" style="background-color: rgb(66, 62, 62);">
        <div class="container">
         
          <nav class="collapse navbar-collapse" role="navigation">
            
            <ul class="nav navbar-right navbar-nav">
                <li >
            
                    <a class="nav-link" href="login">SIGNIN</a>
                  </li>
                  <li>
                    
                    <a  href="signup">SIGNUP</a>
                  </li>
                  
            </ul>
          </nav>
        </div>
      </header>
  <div id="masthead">  
    <div class="container" >
      <div class="row">
        <div >
        <br><br> <h1 style="font-family: 'Courier New', Courier, monospace; color: white; font-size: 80px;">Discover Books You'll Love</h1><br><br>
        </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  
  <hr id="hh1"><br><br>
  <div style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> 
            <div class="row">    
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZnVh0lkfMt1c0bNpHU3vmS6ksUNkqgp-k4w&usqp=CAU" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3>STAY WITH ME</h3><br>
                <h4>K L Slater</h4>
              </div>
            </div>
            <hr id="hh">
            
            <div class="row">    
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSsgti-ivj51xXnTHIkE_mmfWBJNjI12cS_5w&usqp=CAU" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3>SILENT SCREAM</h3><br>
                <h4>D I Kim Stone</h4>
              </div>
            </div>
            <hr id="hh">
                    
            <div class="row">    
              <br>
              <div class="col-md-2 col-sm-3 text-center">
                <a class="story-title" href="#"><img alt="" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmfvvweB2Azf3uXCY02Y42bq73eCgwgXgATw&usqp=CAU" style="width:100px;height:100px" class="img-circle"></a>
              </div>
              <div class="col-md-10 col-sm-9">
                <h3>THE KITE RUNNER</h3><br>
                <h4>Khaled Hosseini</h4>
              </div>
            </div>
            <hr id="hh">
            
            
            <a id="a1" href="/">More</a>                                                                          
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>
                                                  
  </div>                                                                              
  
  