<div id="masthead">  
    <div class="container" >
      <div class="row">
        <div >
         <br><br> <h1 style="font-family: 'Courier New', Courier, monospace; color: white; font-size: 80px;">Discover Books You'll Love</h1><br><br>
        </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  
  <hr id="hh1">
  <div style="background-color: black;">
  <div class="container">
    <div class="row">
      <div class="col-md-12"> 
          <form (ngSubmit)="check()" class="login1">
              <div class="container1">
                <label for="uname"><b>Username</b></label>
                <input id="uname" type="text" placeholder="Enter correct Username" [(ngModel)]="user.uname" name="uname" required>
                <label for="psw"><b>Password</b></label>
                <input id="pswW" type="password" placeholder="Enter correct Password" [(ngModel)]="user.password" name="password" required>
              <input type = "submit" value = "login" /></div>
          </form>
         </div><!--/col-12-->
    </div>
  </div>
                                                  
  </div>                                                                              
  
